<div class="hero-wrapper">
  <div class="jumbotron hero-section d-md-flex justify-content-around">
    <img src="/multiple-dogs.png" alt="two-dogs" height="150px" " />
		<div class="hero-title ">
			<h1 class="text-center ">DOGSTR</h1>
			<h4 class="text-center ">
				Schedule a play date for you and your pup!
			</h4>
			<% if(typeof locals.userData !='undefined'){ %>
				<h4 class="text-center">Hello, <%= userData.name %></h4>
				<a href="/users/profile/<%- userData.id %>" class="btn btn-info profile">Profile</a>
				<% } %>
				<% if (typeof message != 'undefined') { %>
					<div class="alert alert-success alert-dismissible fade show" role="alert">
					  <%= message %>
					  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					  </button>
					</div>
					<% } %>
		</div>
		<img src="/google-maps.png " alt="google maps icon " height="150px " />
	</div>
</div>



<div class="logout ">
	<a href="/users/logout " class="btn btn-secondary ">Logout</a>
</div>

<div class="container main d-lg-flex justify-content-around">
	<div class="container map-container col-lg-6 " id="map"></div>
	<div class="container form-container col-lg-6 ">
		<form>
			<div class="form-group ">
				<label for="Select1">Map Zoom</label>
				<select class="form-control " id="distance">
					<option value="13"></option>
					<option value="15">Neighborhood</option>
					<option value="12">City</option>
					<option value="10">County</option>
					<option value="9">Nearby Counties</option>
				</select>
				<br />
				<!--<label for="Select1 ">Popularity</label>
				<select class="form-control " id="popularity ">
					<option value=" "></option>
					<option value="1 ">1</option>
					<option value="2 ">2</option>
					<option value="3 ">3</option>
					<option value="4 ">4</option>
					<option value="5 ">5</option> </select
				><br /> 
				<label for="Select1 ">Rating</label>
				<select class="form-control " id="rating ">
					<option value=" "></option>
					<option value="1 ">1</option>
					<option value="2 ">2</option>
					<option value="3 ">3</option>
					<option value="4 ">4</option>
					<option value="5 ">5</option> </select
				><br /> -->
				<button class="btn btn-primary " id="filter" type="submit">
					Submit
				</button>
			</div>
		</form>
	</div>
</div>
<div class="jumbotron">
<% if(typeof locals.data !='undefined'){ %>
	<h1 class="text-center"><%= data[0] %></h1>
	<h3 class="text-center">Write a comment:</h3>
	<textarea class="form-control" id="new-thread" rows="3"></textarea>
	<br>
	<button class="btn btn-primary thread_submit" data-id="<%- data[data.length - 1] %>" type="submit">
		Submit
	</button>
	<% console.log(data[1]) %>
  <% } %>

  <% if(typeof locals.renderArr !='undefined'){ %>
	<h1 class="text-center"><%= renderArr[0].name %></h1>
	<h1><i class='fas fa-paw' style='font-size:100px'></i></h1>

	<br>
	<h3 class="text-center">Write a comment:</h3>

	<textarea class="form-control" id="new-thread" rows="3"></textarea>
	<br>
	<button class="btn btn-primary thread_submit" type="submit">
		Submit
	</button>
	<br>
	<% for (var i = 0; i < renderArr.length; i ++) { %>
	<div class="card">
		<div class="card-header">
			<%= renderArr[i].username %>:
		</div>
		<div class="card-body">
		  <h5 class="card-title">Posted at: <%= renderArr[i].posted %></h5>
		  <p class="card-text" style="font-size: 20px;"><%= renderArr[i].text %></p>
		  <a href='#' class="btn btn-primary">Go to profile</a>
		</div>
	  </div>
	  <% } %>
	<% } %>
</div>
